<ion-header>
  <ion-toolbar>
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row>
      <ion-col size="12" style="height: calc(100vh - 100px); position: relative;">
        <div class="info-section mb-3 mt-0">
          <h1 style="font-size: 26px;">MENÚ</h1>
        </div>

        <div class="c-menu">

          <div class="c-menu-opction">
            <div>
              <ion-icon name="apps-outline"></ion-icon>
              Standings
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

          <div class="c-menu-opction">
            <div>
              <ion-icon name="refresh-outline"></ion-icon>
              Últimos Movimientos
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

          <div class="c-menu-opction">
            <div>
              <ion-icon name="person-outline"></ion-icon>
              Roster
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

          <div class="c-menu-opction">
            <div>
              <ion-icon name="calendar-outline"></ion-icon>
              Calendario
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

          <div class="c-menu-opction">
            <div>
              <ion-icon name="fast-food-outline"></ion-icon>
              Gastronomía
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

          <div class="c-menu-opction">
            <div>
              <ion-icon name="person-circle-outline"></ion-icon>
              Perfil
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>


        <div class="support">
          <h1>SOPORTE</h1>
          <h2>Preguntas frecuentes</h2>
          <h2>Ajustes de Privacidad</h2>
          <h2>Políticas de Privacidad</h2>
          <h2 style="border: none;">Términos de Uso</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>