<ion-header>
  <ion-toolbar>
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="tables m-0">
          <div>
            ÚLTIMOS MOVIMIENTOS
          </div>
          <div class="last-movements">
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <p>Ver todos los movimientos</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>