<ion-header>
  <ion-toolbar>
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="tables m-0" style="display: flex;justify-content: center;flex-direction: column; align-items: center;">
          <div class="justify-content-start">
            STANDINGS 2022
          </div>
          <img style="width: 95%;"  src="assets/imgs/tabla2.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>