<ion-header>
  <ion-toolbar>
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>

  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="info-section mb-5">
          <h3 style="font-size: 14px;">PIONEROS DE LOS MOCHIS</h3>
          <h1 style="font-size: 36px;">ROSTER</h1>
        </div>

        <div class="c-card-products">
          <div class="gastronomy">

            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download-1.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download-1.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download-1.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="product-card card-menu">
              <div>
                  <div class="product-img">
                      <img src="assets/imgs/download.jpg" alt="">
                  </div>
                   <br>
                  <div class="product-info menu-info">
                      <h1>LOS MOCHIS</h1>
                      <div class="d-flex">
                          <span>Nachos y más</span>
                      </div>
                  </div>
              </div>
            </div>
         
            
      
         

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
