<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-img src="../../assets/imgs/noticia3.jpg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-img src="../../assets/imgs/noticia3.jpg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-img src="../../assets/imgs/noticia3.jpg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/imgs/noticia3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgs/noticia3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgs/noticia3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="tables">
          <div>
            ÚLTIMOS MOVIMIENTOS
          </div>
          <div class="last-movements">
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <div class="moves">
              <div class="img f-c">
                <img src="assets/imgs/mantas.png" alt="">
              </div>
              <div class="info">
                <h1>Es alta Jesús Heredia Luque asistente del coach.</h1>
                <p>Hace 2 horas </p>
              </div>
            </div>
            <p>Ver todos los movimientos</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>