<div class="animate__animated animate__fadeIn">

  <div class="category-score">
      PLAY BY PLAY
  </div>
  <br>
  <div class="period">
      <h1>Period:</h1>
      <h1>Period: 1</h1>
      <h1>Period: 2</h1>
      <h1>Period: 3</h1>
      <h1>Period: 4</h1>
      <h1>Overtime</h1>
      <h1>All</h1>
  </div>
  <br>
  <div class="periods">
      <br>
      <div>
          <div>
              0 - 0
          </div>
          <div>
              Game start
          </div>
          <span class="line"></span>
      </div>
      <div>
          <div>
              0 - 0
          </div>
          <div>
              Period start
          </div>
          <span class="line"></span>
      </div>
      <div>
          <div>
              0 - 0
          </div>
          <div>
              Possession arrow - start period
          </div>
          <span class="line"></span>
      </div>
      <div>
          <div>
              0 - 0
          </div>
          <div>
              Possession Arrow: Starting Period Ranking
          </div>
          <span class="line"></span>
      </div>
      <div>
          <div>
              0 - 0
          </div>
          <div>
              Possession Arrow: Starting Period Ranking
          </div>
          <span class="line"></span>
      </div>
      <div class="period-r">
          <span>P1</span>
          <h1>09:56:00</h1>
          <div class="info-p-r right-p">
              <h1>23, ANTHONY CRISWELL, <span>jump ball - won </span></h1>
              <img class="img-c" src="assets/imgs/caballeros.png" alt="">
          </div>
          <span class="line"></span>
      </div>
      <div class="period-r">
          <span>P1</span>
          <h1>09:56:00</h1>
          <div class="info-p-r left-p ">
              <img class="img-c" src="assets/imgs/pioneros.png" alt="">
              <h1>20, KYLE PRINCE LEVAN BENJAMIN, <span>jump ball - lost </span></h1>
          </div>
          <span class="line"></span>
      </div>
  </div>
</div>