<ion-header>
  <ion-toolbar >
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid class="p-0">
  <ion-row>
    <ion-col size="12" class="c-shop tickets-presentation">
      <div>
        <h1>
          TODA LA MERANCIA DE <br />
          <span>YA ME VI</span>
        </h1>
        <p >
          VISTE LA PIEL DE LOS MOCHIS, CHECA NUESTRA MERCANCÍA Y CONSIGUE TU JERSEY U OTROS ARTICULOS A LOS MEJORES PRECIOS
        </p>
      </div>

      <ion-img class="m-auto" src="assets/imgs/shop.png"></ion-img>
      
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="p-0">
  <ion-row>
    <ion-col size="12" class="c-shop-content">
    <div class="info-section">
      <h1>PRODUCTOS DESTACADOS</h1>
    </div>

    <div class="c-product img-p2">
      <div class="info-product">
          <p>¡Nuestra nueva piel
            ya disponible!
              </p>
              <br>
              <div class="f-c btn-see-ticket">
                  IR A LA OFERTA
              </div>
      </div>
    </div>
    <br>
    <div class="c-product img-p3  ">
      <div class="info-product">
          <p>Fashionwear de
            Pioneros
              </p>
              <br>
              <div class="f-c btn-see-ticket">
                  IR A LA OFERTA
              </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="p-0" class="catalogo">
  <ion-row>
    <ion-col>
      <div>
        <ion-img class="m-auto" src="assets/imgs/jerseys.png"></ion-img>
        <h1>Jerseys</h1>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img class="m-auto" src="assets/imgs/tenis.png"></ion-img>
        <h1>Tenis</h1>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-img class="m-auto" src="assets/imgs/accesorios.png"></ion-img>
        <h1>SOUVENIRS</h1>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-img class="m-auto" src="assets/imgs/snapback.png"></ion-img>
        <h1>ACCESORIOS</h1>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>




</ion-content>

