<ion-header>
  <ion-toolbar>
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png"></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <div class="container-fluid con-login">
          <div class="container row d-flex justify-content-between p-0">

            <!-- <div class="col-md-7"> -->
              <div class="c-login">
                <h1>Crear tu <br>
                  Cuenta Pioneros
                </h1>
                <div class="login-line"></div>
                <div class="form">
                  <input type="text" placeholder="Nombre Completo">
                  <input type="email" placeholder="Email">
                  <input type="password" placeholder="Crear Contraseña">
                </div>
                <div class="btn-login">
                  CREAR CUENTA
                </div>
                <div class="inlogin">
                  <h1>¿Ya tienes cuenta?</h1>
                  <h2>Inicia Sesión</h2>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>