/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root{
    --black-ligth : #242424;
    --black : #070607;
    --orangee: #DB6721;
    --strong-orangee: #D65B17;
    --roboto: 'Roboto', sans-serif;
    --teko : 'Teko', sans-serif;
    --raleway : 'Raleway', sans-serif;
    --color-fuente: #464646;
    --gris: #5F5F5F;
    --light-grey: #DDDDDD;
    --medium-gray : #B4B4B4;
    --strong-grey: #B4B4B4;
    --orange-movil : #F06800;
}

.toolbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar{
    --background: var(--orange-movil);
    // display: flex;
    // justify-content: space-between;
}

.header-ios ion-toolbar:last-of-type{
    --border-width: 0 0 0.0;
}

ion-toolbar ion-icon {
    font-size: 30px;
}
ion-toolbar ion-img {
    width: 45px;
    height: 45px;
}


.carrucel-plays{
    height: 120px;
    margin: 10px 0;
    position: relative;
    padding-left: 60px;
}
.carousel-item{
    position: relative;
}

.slide-header{
    width: 145px;
    height: 110px;
    
}

.lateral-l{
    position: absolute;
    background: #c75711;
    width: 60px;
    height: 100%;
    z-index: 100;
    left: 0;
    display: flex;
    
}
.lateral-l .left{
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
}
.lateral-l .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    background: var(--orange-movil);
}
.lateral-l .date h1{
    margin: 0;
    font-size: 10px;
}
.lateral-l .date h2{
    margin: 0;
    font-size: 20px;
}
.lateral-l .date h3{
    margin: 0;
    font-size: 15px;
}
.lateral-l .date h4{
    margin: 0;
    font-size: 10px;
}

.slide-header > div{
    display: flex;
    justify-content: space-around;
}
.slide-header h1{
    text-align: left;
    font-size: 15px;
    margin-bottom: 11px;
    padding: 5px;
    margin: 0;
    color: black;
    font-family: var(--roboto);
}
.slide-header .player1 img{
    width: 30px;
}
.slide-header .player1 h2{
    font-size: 18px;
    margin: 0;
    color: black;
}
.slide-header .player1 h3{
    margin: 0;
    font-size: 10px;
    color: var(--medium-gray);
}

.carrucel-tex{
    font-family: var(--teko);
    font-weight: 500;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
.carrucel-tex h1{
    font-size: 40px;
    width: 90%;
}

.carousel{
    margin-bottom: 50px;
}

.contraste{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0, 2));
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    transition: all .4s ease;
  }

  .carousel-indicators [data-bs-target]{
    border-radius: 100%!important;
    width: 8px!important;
    height: 8px!important;
    background: unset!important;
    border: 1.5px solid white!important;
    -webkit-border-radius: 100%!important;
    -moz-border-radius: 100%!important;
    -ms-border-radius: 100%!important;
    -o-border-radius: 100%!important;
}

.carousel-indicators .active{
    border: 1.5px solid var(--orange-movil)!important;
    background-color: var(--orange-movil)!important;
}

ion-card{
    --background: white;
    
}
ion-card-content {
    font-size: 18px!important;
    font-family: var(--roboto);
    font-weight: 400;
    color: #4D4F5C;
    // margin-top: 30px;
}


.card-footer{
    width: 100%;
    background-color: red;
    height: 30px;
}

.news-footer{
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    font-family: var(--roboto);
}
.news-footer h2, .news-footer span,.news-footer h3{
    font-size: 11px;
    font-weight: 400;
    color: #434343;
}
.news-footer h2 span{
    font-weight: 800;
}
.news-footer h3{
    color: #919192;
}
.news-footer i{
    margin-right: 7px;
    color: var(--strong-orangee);
}


.tables > div:nth-child(1) {
    background: var(--black);
    color: white;
    width: 100%;
    height: 60px;
    font-family: var(--teko);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.tables {
    margin-top: 72px;
    box-shadow: 0 3px 10px #00000010;
}
.tables p{
    font-size: 14px;
    margin-top: 50px;
    font-weight: 700;
    margin-left: 20px;
    font-family: var(--roboto);
    color: var(--strong-orangee);
}


.last-movements{
    padding-top: 44px;
    min-height: 825px;
    height: auto;
}
.last-movements .moves{
    margin-bottom: 35px!important;
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.last-movements .moves .img{
    width: 20%;
    margin-right: 14px;
}
.last-movements .moves .img img{
    width: 100%;
}
.last-movements .moves .info{
    width: 80%;
}
.last-movements .moves .info h1{
    font-size: 14px;
    font-weight: 500;
    font-family: var(--roboto);
    line-height: 24px;
    letter-spacing: 1px;
}
.last-movements .moves .info p{
    font-weight: 400;
    font-size: 12px;
    color: var(--orangee);
    margin: 0;
}

.slide2 p{
    font-size: 14px;
    font-weight: 700;
    color: #060506;
    text-align: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
;
}
.slide2 div{
    width: 90%;
    margin: auto;
}

.slide2 img {
    width: 100%;
}

.c-slides {
    margin-bottom: 50px;

}
.c-slides h1{
    color: #060506;
    font-family: var(--teko);
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.swiper-pagination{
    display: none!important;
}

ion-card{
    margin: 5px!important;
    margin-bottom: 20px!important;
}

.movil-news-title{
    position: relative;
    margin-bottom: 50px;
}
.movil-news-title div{
    position: absolute;
    top: 50%;
    left: 7%;
    width: 85%;
    height: 300px;
}
.movil-news-title .info h1{
    font-size: 19px;
    font-family: var(--roboto);
    font-weight: 700;
    color: var(--strong-orangee);
}
.movil-news-title .info p{
    font-size: 24px;
    font-family: var(--roboto);
    font-weight: 700;
    color: white;
}
.movil-news-title .info div{
    background-color: #EC5A00;
    width: 166px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--raleway);
    margin: auto;
    position: absolute;
    right: 21px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 85px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    -ms-border-radius: 85px;
    -o-border-radius: 85px;
}

.c-titulares {
    height: auto;
    min-height: 300px;
    
}
.c-titulares  div{
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #707070;
    color: #060506;
    font-family: var(--roboto);
    font-weight: 700;
    line-height: 20px;
    padding: 0 5px;
}

// news 
.dn-information{
    height: auto;
}

.dn-information h3{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    font-family: var(--roboto);
    color: #333333;
    margin-top: 20px;
}
.dn-information h5{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 14px;
    color: #434343;
    margin: 0;
}

.dn-information .row{
    margin-top: 200px;
    display: flex;
    justify-content: center;

}
.dn-information .user{
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.dn-information .user .profile, .dn-information .user .redes-user{
    width: 250px;
    height: 60px;
}
.dn-information .user .profile{
    display: flex;
    align-items: center;
}
.dn-information .user .profile .user-img{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 60px;
    margin-right: 20px;
    height: 60px;
}
.profile h1{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--roboto);
    color: #070607;
}
.profile :nth-child(2){
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #7D7D7D;
}

.dn-information .note > p{
    font-family: var(--roboto);
    font-size: 14px;
    color: #434343;
}
.dn-information .note>  h1{
    font-size: 12px;
    font-family: var(--roboto);
    color: #7D7D7D;
    font-style: italic;
    font-weight: 300;
}
.dn-information .note>  h5{
    font-size: 12px;
    font-family: var(--roboto);
    font-weight: 400;
    color: var(--strong-orangee);
}
.dn-information .note img{
    width: 100%;
}
.dn-information .note .orange{
    font-family: var(--roboto);
    color: #7D7D7D;
    font-size: 14px;
    font-style: italic;
    color: var(--strong-orangee);
    border-left: 2px solid var(--strong-orangee);
    padding-left: 30px;
}
.dn-information .note .redes{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 50px;
}
.dn-information .note .redes h4{
    font-family: var(--roboto);
    font-size: 12px;
    color: #525252;
}
.dn-information .note .redes .links > div{
    height: 30px;
    margin-right: 12px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    color: white;
    font-family: var(--roboto);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
.dn-information .note .redes .links > div i{
    margin-right: 5px;
}
.dn-information .note .redes .links {
    display: flex;
    flex-wrap: wrap;
}
.dn-information .note .redes .links .like, .share{
    background: #4267B2;
    width: 100px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}
.dn-information .note .redes .links .like:hover,
.dn-information .note .redes .links .share:hover{
    background: #2B4D90;
}
.dn-information .note .redes .links .like .share, .tweet{
    width: 80px;
}
.dn-information .note .redes .links .like {
    width: 85px!important;
}

.dn-information .note .redes .links .share, .dn-information .note .redes .links .tweet{
    width: 70px!important;
}

.dn-information .note .redes .links .tweet, .follow{
    transition: .5s all ease;
    background: #1DA1F2;
}
.dn-information .note .redes .links .follow{
    width: 130px;
    margin-right: 0;
}

.dn-information .note .redes .links .tweet:hover,
.dn-information .note .redes .links .follow:hover{
    background: #61C2FD;
}

.img-detail{
    height: 380px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-shop{
    background: var(--orange-movil);
    height: 660px;

}



.tickets-presentation{
    // margin-top: 140px;
    display: flex;
    flex-direction: column;
    // height: 380px;
    display: flex;
    align-items: end;
    // padding-bottom: 50px;
    // margin-bottom: 78px;
    position: relative;
}
.tickets-presentation img{
    position: absolute;
    /* right: -115px; */
    right: 0;
    width: 60%;
    /* width: 75%; */
    bottom: 0;
}


.tickets-presentation p{
    color: #070607;
    text-align: center;
    font-size: 14px;
    font-family: var(--roboto);
    width: 90%;
    font-weight: 500;
    margin-bottom: 30px!important;
    margin: auto;
}
.tickets-presentation h1{
    font-family: var(--teko);
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 45px;
    font-weight: 700;
}
.tickets-presentation span{
    font-size: 80px;
    font-family: var(--teko);
    font-weight: 800;
    line-height: 60px;
}
.tickets-presentation {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 800;
}

.tickets-presentation .croquis{
    display: flex;
    justify-content: end;
}

.info-section h1{
    font-family: var(--teko);
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px!important;
}
.info-section p{
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 24px;
    color: #7C7C91;
}
.info-section h2{
    color: var(--strong-orangee);
    font-size: 14px;
    font-weight: 7  00;
    font-family: var(--roboto);
}

.c-shop-content{
    // height: 700px;
}

.c-product{
    height: 430px;
    width: 100%;
    position: relative;
}

.c-product::before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: #00000020;
}

.img-p2{
    background:  url(../src/assets/imgs/sour-moha-tSP10XOSIAQ-unsplash.png) center/cover;
}
.img-p3{
    background:  url(../src/assets/imgs/tienda4.jpg) center/cover;
}

.info-product {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}
.info-product p{
    font-size: 36px;
    width: 200px;
    font-family: var(--teko);
    font-weight: 500;
    line-height: 32px;
    color: var(--black);
}

.btn-see-ticket{
    width: 100px;
    height: 40px;
    background: var(--orangee);
    color: white;
    font-size: 12px;
    font-family: var(--roboto);
    font-weight: 800;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.catalogo{
    height: 420px;
    margin-top: 20px;
}
.catalogo ion-col{
    height: 186px;
    margin: 10px;
    background: #E8E8E8;
}
.catalogo ion-col div {
    width: 100%;
    height: 100%;
}
.catalogo ion-col div h1{
    font-size: 18px;
    font-family: var(--teko);
    color: #EC5A00;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
.catalogo ion-col div ion-img{
    width: 80%;
    height: 70%
}


.filters{
    background: #E8E8E8;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}
.filters ion-icon{
    font-size: 30px;
    color: #4D4B4B;
}
.filters h1{
    font-size: 36px;
    font-family: var(--teko);
    font-weight: 300;
    color: #EC5A00;
}

.categories-shop{
    display: flex;
    justify-content: space-evenly;
}
.categories-shop-selected{
    opacity: 100%!important;
}
.categories-shop h1{
    font-family: var(--roboto);
    font-size: 14px;
    color: #000000;
    opacity: 50%;
}

.c-card-products{
    color: black;
    min-height: 300px;
}

.products {
    height: auto;
    display: grid;
    gap: 1rem;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.card-product{
    min-height: 310px;
    margin-bottom: 10px;
}
.card-product h1{
    margin-top: 25px!important;
    color: #060506;
    font-size: 12px;
    font-family: var(--roboto);
    margin: 0;
    margin-bottom: 7px!important;
}
.card-product h2{
    color: #4D4B4B;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--roboto);
}


.categories-shop .card-product ion-img{
    width: 100%;
    height: 100%;
}

.print{
    display: flex;
    justify-content: end;
    align-items: center;
}
.print ion-select{
    border: 1px solid black;
    color: black;
    font-weight: 800;
    width: 130px;
    margin-right: 30px;
    background: white;
    height: 40px;
}

.print ion-icon{
    font-size: 30px;
    color: black;

}


.s-section-1{
    margin-top: 100px;
    min-height: 720px;
    height: auto;
    padding-bottom: 20px;
}
.s-section-1 > h1:first-child {
   font-family: var(--teko);
   color: var(--black-ligth);
   font-weight: 800;
}

.scoreboard{
    display: flex;
    justify-content: space-between;
    height: 100px;
 }
 .scoreboard .team1, .team2{
    font-weight: 700;
    font-family: var(--roboto);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;

    padding-top: 67px;
    position: relative;
    flex-direction: column;
    text-align: center;
    font-size: 12px;

 }

 .scoreboard .team1 img, .team2 img{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
 }

 .scoreboard .vs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    width: 30%;
 }
 .scoreboard .vs h2, .vs span{
       font-weight: 800;
       font-size: 30px;
       font-family: var(--roboto);
 }
 .scoreboard .vs span{
     font-size: 15px;
     margin: 0 10px ;
}
    
.s-section-1 .date{
    background: var(--light-grey);
    height: 50px;
}
.s-section-1 .date h1{
    font-size: 14px;
    font-weight: 600;
    font-family: var(--roboto);
    margin-right: 10px;
    color: var(--black);
 }

 .matching-options{
    background: var(--strong-grey);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}
.matching-options > div{
   cursor: pointer;
   background: #E0E0E0;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #7C7C7C;
   font-family: var(--roboto);
   font-weight: 600;
   height: 35px;
   margin-right: 8px;
}

.matching-options > div a{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #7C7C7C;
   text-decoration: none;
}

.ruta{
    // min-height: 800px;
    height: auto;
    position: relative;
}
.ruta2{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    height: auto;
}

.category-score{
    background: var(--light-grey);
    height: 60px;
    font-family: var(--roboto);
    font-weight: 600;
    color: var(--black);
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-top: 30px;
    padding-left: 20px;
}

.period{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

}

.period h1{
    font-size: 18px;
    font-family: var(--roboto);
    color: var(--black);
    margin-right: 20px;
    margin-top: 5px!important;
}

.periods{
    /* background: red; */
    min-height: 200px;
    height: auto;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.periods > div {
    width: 100%;
    height: auto!important;

    /* min-width: 250px; */
    height: 70px;
    width: auto;
    margin-bottom: 15px;
    display: flex;
    position: relative;
    justify-content: space-evenly!important;
}
.periods > div > div:nth-child(1) {
    // padding: 20px;
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    font-family: var(--roboto);
}
.periods > div > div:nth-child(2) {
    flex-wrap: nowrap;
    // padding: 20px;
    line-height: 14px;
    text-align: center;
    min-width: 50%;
    background: var(--black);
    padding: 5px;
    color: white;
    font-size: 12px;
    font-family: var(--roboto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.line{
    position: absolute;
    width: 16px;
    height: 2px;
    background: black;
    left: calc(50% - 9px);
    bottom: -9px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.period-r {
    align-items: center;
    min-width: 100px;
    height: 40px!important;
    display: flex;
    position: relative;
    justify-content: center!important;
    border: 1px solid var(--strong-grey);
}
.period-r > span{
    margin-left: 5px;
    font-family: var(--roboto);
    color: var(--strong-grey);
    // font-size: 13px;
    font-weight: 700;
    font-size: 9px;
    margin-right: 5px;

}
.period-r h1{
    font-size: 10px;
    margin: 0 5px;
    // margin: 0 5px 0 0;
    font-family: var(--roboto);
    // font-size: 13px;
    font-weight: 800;
    color: var(--black);
}
.period-r h1 span{
    font-size: 13px;
    font-weight: 600;
    color: var(--black);
}
.period-r .info-p-r {
    // position: absolute;
    // right: 0;
    border: 1px solid var(--strong-grey);
    width: 100%;
    // left: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.right-p{
    border-right: 5px solid red!important;

}
.period-r .info-p-r img{
    width: 20px;
    height: 20px;
}
.left-p{
    right: 100%!important;
    border-left: 5px solid blue!important;
    left: unset!important;
}

.active2{
    background: white!important;
}
.active{
    color: var(--strong-orangee)!important;
}

.last-movements{
    padding-top: 44px;
    height: 825px;
}
.last-movements .moves{
    margin-bottom: 35px!important;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.last-movements .moves .img{
    width: 20%;
    margin-right: 14px;
}
.last-movements .moves .img img{
    width: 100%;
}
.last-movements .moves .info{
    width: 80%;
}
.last-movements .moves .info h1{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--roboto);
    line-height: 24px;
    letter-spacing: 1px;
    color: #070607;
}
.last-movements .moves .info p{
    font-weight: 400;
    font-size: 14px;
    color: var(--orangee);
    margin: 0;
}


.con-login{
    display: flex;
    justify-content: center;
}

.c-login{
    width: 100%!important;
    padding: 5px;
}


.info-section{
    // height: 850px;
    margin-top: 30px;
}

.info-section h3{
    margin: 0;
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 500;
    color: var(--orangee);
}
.info-section h1{
    margin: 0;
    font-family: var(--teko);
    color: var(--black);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 8px!important;
}

.tables > div:nth-child(1) {
    background: var(--black);
    color: white;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    font-family: var(--teko);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 11px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

// .seating-sections > div{
//     height: 30px;
//     width: auto;
//     min-width: 200px;
//     display: flex;
//     margin-bottom: 35px;
//     align-items: center;
// }
.seating-sections .color{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}
.seating-sections .price{
    font-size: 18px;
    font-weight: 500;
    color: #434343;
    font-family: var(--roboto);
}

.courtside{
    background:#64218A;
}
.primera{
    background: #8445AE;
}

.luxury{
    background: #40C8BA;
}
.first{
    background: #0089CB;
}
.best{
    background: #D65B17;
}
.all{
    background: #6A6A6A;
}

.select{
    width: 100%;
    height: 40px;
}


.c-c-prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c-prices{
    width: 50%;
    color: black;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.croquis{
    margin-top: 50px;
}
.croquis img{
    transform:rotate(-90deg);
    width: 100%;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
}


.b-section-2{
    height: 1000px;
    margin-top: 135px;
}
.b-section-2 h2 span{
    font-size: 14px;
    color: #4D4B4B;
    font-weight: 400;
    font-family: var(--roboto);
}
.b-section-2 h2{
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    font-family: var(--roboto);
}
.b-section-2 .player{
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.b-section-2 .player > div{
    display: flex;
    width: 70%;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}
.b-section-2 .player .info > div:nth-child(1){
    width: 50px;
    margin-right: 10px;
    height: 50px;
    line-height: 18px;
}
.b-section-2 .player .info > div:nth-child(1) h1{
    font-size: 18px;
    font-weight: 800;
    font-family: var(--roboto);
    color: var(--orangee);
}
.b-section-2 .player .info > div:nth-child(1) h2{
    font-family: var(--roboto);
    font-size: 16px;
    color: #434343;
    font-family: 400;
    margin-top: 5px;
}

.b-section-2 .player > div:nth-child(2){
    justify-content: end;
}
.b-section-2 .player .info > div:nth-child(2) h1{
    font-size: 24px;
    font-weight: 800;
    font-family: var(--roboto);
    color: black;
    margin: 0;

}
.b-section-2 .player .info > div:nth-child(2) h2{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
    color: #434343;
    font-family: var(--roboto);
}

.c-menu{
    width: 100%;
    margin-bottom: 20px;
}
.c-menu .c-menu-opction ion-icon{
    color: #4D4B4B;
    font-size: 16px;
}
.c-menu .c-menu-opction{
    height: 40px;
    border-bottom: 0.5px solid #D7D7D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.c-menu .c-menu-opction div ion-icon{
    color: #D7D7D7;
    margin-right: 10px;
    font-size: 30px;
}
.c-menu .c-menu-opction div{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--roboto);
    color: #4D4B4B;
}

.support{
    position: absolute;
    bottom: 0;
    padding: 16px;
    background: #F6F6F6;
    height: 260px;
    left: 0;
    right: 0;
    width: 100%;
}
.support h1, .support h2{
    font-family: var(--roboto);
    color: black;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
}
.support h2{
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #D7D7D7;
}

.header-roster{
    background-image: url(assets/imgs/roster.jpg); 
    height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-roster div{
    text-align: center;
}
.header-roster div h1{
    font-family: var(--teko);
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin: 0;
}
.header-roster div h2{
    font-family: var(--teko);
    font-size: 68px;
    color: white;
    font-weight: 700;
    margin: 0;

}

.player-card{
    overflow: hidden;
    height: 225px;
    
}


.player-card .info-card{
    background: var(--strong-orangee);
    height: 40px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    display: flex;
}

.player-card {
    position: relative;
}
.player-card .info-card div:nth-child(1){
    width: 40px;
    height: 40px;
    background: var(--orangee);
    font-family: var(--teko);
    font-size: 24px;
    font-weight: 800;
    color: white;
}
.player-card .info-card div:nth-child(2){
    width: 80%;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.player-card .info-card div:nth-child(2) h1{
    font-family: var(--teko);
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.player-card .info-card div:nth-child(2) h2{
    margin: 0;
    font-size: 10px;
    font-weight: 500;
}

.card-menu{
    width: 100%;
}
.card-menu div .product-img{
    width: 100%;
}
.card-menu div .product-img img{
    width: 100%;
    height: 365px;
}

.menu-info {
    width: 100%;
}
.menu-info h1{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0!important;
}
.menu-info span{
    font-family: 800;
    color: var(--strong-orangee);

}

.gastronomy {
    height: auto;
    display: grid;
    gap: 1rem;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.carrucel-home{
    padding-top: 77px;
    background: #F55B02;
    position: relative;
}
.carrucel-home > div{
    width: 100%;
    margin-top: 20px;
    position: absolute;
    top: 0;
    text-align: center;
}
.carrucel-home > div h1{
    font-family: var(--teko);
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}

.carrucel-home > div h2{
    margin: 0;
    font-family: var(--roboto);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.cart{
    /* height: calc(100vh - 90%); */
    // height: 700px;
    text-align: center;
    width: 350px;
    padding-bottom: 20px;
    height: auto;
    max-height: 600px;
    background: white;
    // position: absolute;
    top: 100px;
    transition: all .4s ease;
    right: 0;
    z-index: 0;
    opacity: 0;
  }

  .cart-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .cart-header h1{
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 2px;
      color: var(--orange-movil);
      margin-bottom: 61px;
      
    }
    .cart-header ion-icon{
        font-size: 30px;
        color: var(--orange-movil);

    }

    .content-cart {
        margin: auto;
        max-height: 280px;
        height: auto;
        overflow: auto;
    }
    
    .product-cart {
        cursor: pointer;
        display: flex;
        text-align: left;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #D7D7D7;
    }
    
    .product-cart img {
        width: 80px;
        height: 80px;
        border: 1 px solid var(--orange-movil);
        margin-right: 10px;
    }

    .product-cart .info-cart {
        width: 100%;
        min-height: 80px;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
    }

    .product-cart .info-cart i{
        position: absolute;
        right: 0;
        color: #2F3238;
        top: 0;
        font-size: 14px;
    }

    .product-cart .info-cart h1 {
        margin: 0;
        font-size: 10px;
        color: black;
    }
    
    .product-cart .info-cart h2 {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        color: #2A2C31;
        margin-bottom: 11px;
    }

    .product-cart .info-cart span {
        font-size: 15px;
        margin-top: 11px;
        font-weight: 700;
        color: var(--orange-movil);
    }

    .cart > div {
        width: 95%;
        margin: auto;
    }
    .cart-total {
        height: 100px;
        margin: auto;
    }

    .cart-total > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
    }
    .cart-total > div h1 {
        color: red;
        font-size: 14px;
        font-weight: 600;
        color: #6A6A6A;
    }
    .cart-total > div h2 {
        font-size: 14px;
        color: black;
        font-weight: 700;
    }

    .cart-total div span {
        color: var(--orange-movil);
        font-weight: 700;
        font-size: 18px;
    }
    .checkout {
        margin-top: 30px;
        cursor: pointer;
        background: var(--orange-movil);
        height: 50px;
        color: white;
        font-size: 18px;
        margin-bottom: 14px!important;
        font-weight: 700;
        border-radius: 3px    ;
        -webkit-border-radius: 3;
        -moz-border-radius: 3;
        -ms-border-radius: 3;
        -o-border-radius: 3;
}