/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root{
    --black-ligth : #242424;
    --black : #070607;
    --orangee: #DB6721;
    --strong-orangee: #D65B17;
    --roboto: 'Roboto', sans-serif;
    --teko : 'Teko', sans-serif;
    --raleway : 'Raleway', sans-serif;
    --color-fuente: #464646;
    --gris: #5F5F5F;
    --light-grey: #DDDDDD;
    --medium-gray : #B4B4B4;
    --strong-grey: #B4B4B4;
    --orange-movil : #F06800;
}

.toolbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar{
    --background: var(--orange-movil);
    // display: flex;
    // justify-content: space-between;
}

.header-ios ion-toolbar:last-of-type{
    --border-width: 0 0 0.0;
}

ion-toolbar ion-icon {
    font-size: 30px;
}
ion-toolbar ion-img {
    width: 45px;
    height: 45px;
}


.carrucel-plays{
    background: gray;
    height: 120px;
    margin: 10px 0;
}
.carousel-item{
    position: relative;
}

.carrucel-tex{
    font-family: var(--teko);
    font-weight: 500;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
.carrucel-tex h1{
    font-size: 40px;
    width: 90%;
}

.carousel{
    margin-bottom: 50px;
}

.contraste{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0, 2));
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    transition: all .4s ease;
  }

  .carousel-indicators [data-bs-target]{
    border-radius: 100%!important;
    width: 8px!important;
    height: 8px!important;
    background: unset!important;
    border: 1.5px solid white!important;
    -webkit-border-radius: 100%!important;
    -moz-border-radius: 100%!important;
    -ms-border-radius: 100%!important;
    -o-border-radius: 100%!important;
}

.carousel-indicators .active{
    border: 1.5px solid var(--orange-movil)!important;
    background-color: var(--orange-movil)!important;
}

ion-card{
    --background: white;
    
}
ion-card-content {
    font-size: 18px!important;
    font-family: var(--roboto);
    font-weight: 400;
    color: #4D4F5C;
    // margin-top: 30px;
}


.card-footer{
    width: 100%;
    background-color: red;
    height: 30px;
}

.news-footer{
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    font-family: var(--roboto);
}
.news-footer h2, .news-footer span,.news-footer h3{
    font-size: 11px;
    font-weight: 400;
    color: #434343;
}
.news-footer h2 span{
    font-weight: 800;
}
.news-footer h3{
    color: #919192;
}
.news-footer i{
    margin-right: 7px;
    color: var(--strong-orangee);
}


.tables > div:nth-child(1) {
    background: var(--black);
    color: white;
    width: 100%;
    height: 60px;
    font-family: var(--teko);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.tables {
    margin-top: 72px!important;
    box-shadow: 0 3px 10px #00000010;
}
.tables p{
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    font-family: var(--roboto);
    color: var(--strong-orangee);
}


.last-movements{
    padding-top: 44px;
    height: 825px;
}
.last-movements .moves{
    margin-bottom: 35px!important;
    height: 70px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.last-movements .moves .img{
    width: 20%;
    margin-right: 14px;
}
.last-movements .moves .img img{
    width: 100%;
}
.last-movements .moves .info{
    width: 80%;
}
.last-movements .moves .info h1{
    font-size: 14px;
    font-weight: 500;
    font-family: var(--roboto);
    line-height: 24px;
    letter-spacing: 1px;
}
.last-movements .moves .info p{
    font-weight: 400;
    font-size: 12px;
    color: var(--orangee);
    margin: 0;
}

.slide2 p{
    font-size: 14px;
    font-weight: 700;
    color: #060506;
    text-align: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
;
}
.slide2 div{
    width: 90%;
    margin: auto;
}

.c-slides {
    margin-bottom: 50px;

}
.c-slides h1{
    color: #060506;
    font-family: var(--teko);
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.swiper-pagination{
    display: none!important;
}

ion-card{
    margin: 5px!important;
    margin-bottom: 20px!important;
}

.movil-news-title{
    position: relative;
    margin-bottom: 50px;
}
.movil-news-title div{
    position: absolute;
    top: 50%;
    left: 7%;
    width: 85%;
    height: 300px;
}
.movil-news-title .info h1{
    font-size: 19px;
    font-family: var(--roboto);
    font-weight: 700;
    color: var(--strong-orangee);
}
.movil-news-title .info p{
    font-size: 24px;
    font-family: var(--roboto);
    font-weight: 700;
    color: white;
}
.movil-news-title .info div{
    background-color: #EC5A00;
    width: 166px;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--raleway);
    margin: auto;
    position: absolute;
    right: 21px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 85px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    -ms-border-radius: 85px;
    -o-border-radius: 85px;
}

.c-titulares {
    height: auto;
    min-height: 300px;
    
}
.c-titulares  div{
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #707070;
    color: #060506;
    font-family: var(--roboto);
    font-weight: 700;
    line-height: 20px;
    padding: 0 5px;
}

// news 
.dn-information{
    height: auto;
}

.dn-information h3{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    font-family: var(--roboto);
    color: #333333;
    margin-top: 20px;
}
.dn-information h5{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 14px;
    color: #434343;
    margin: 0;
}

.dn-information .row{
    margin-top: 200px;
    display: flex;
    justify-content: center;

}
.dn-information .user{
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.dn-information .user .profile, .dn-information .user .redes-user{
    width: 250px;
    height: 60px;
}
.dn-information .user .profile{
    display: flex;
    align-items: center;
}
.dn-information .user .profile .user-img{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 60px;
    margin-right: 20px;
    height: 60px;
}
.profile h1{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--roboto);
    color: #070607;
}
.profile :nth-child(2){
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #7D7D7D;
}

.dn-information .note > p{
    font-family: var(--roboto);
    font-size: 14px;
    color: #434343;
}
.dn-information .note>  h1{
    font-size: 12px;
    font-family: var(--roboto);
    color: #7D7D7D;
    font-style: italic;
    font-weight: 300;
}
.dn-information .note>  h5{
    font-size: 12px;
    font-family: var(--roboto);
    font-weight: 400;
    color: var(--strong-orangee);
}
.dn-information .note img{
    width: 100%;
}
.dn-information .note .orange{
    font-family: var(--roboto);
    color: #7D7D7D;
    font-size: 14px;
    font-style: italic;
    color: var(--strong-orangee);
    border-left: 2px solid var(--strong-orangee);
    padding-left: 30px;
}
.dn-information .note .redes{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 50px;
}
.dn-information .note .redes h4{
    font-family: var(--roboto);
    font-size: 12px;
    color: #525252;
}
.dn-information .note .redes .links > div{
    height: 30px;
    margin-right: 12px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    color: white;
    font-family: var(--roboto);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
.dn-information .note .redes .links > div i{
    margin-right: 5px;
}
.dn-information .note .redes .links {
    display: flex;
    flex-wrap: wrap;
}
.dn-information .note .redes .links .like, .share{
    background: #4267B2;
    width: 100px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}
.dn-information .note .redes .links .like:hover,
.dn-information .note .redes .links .share:hover{
    background: #2B4D90;
}
.dn-information .note .redes .links .like .share, .tweet{
    width: 80px;
}
.dn-information .note .redes .links .like {
    width: 85px!important;
}

.dn-information .note .redes .links .share, .dn-information .note .redes .links .tweet{
    width: 70px!important;
}

.dn-information .note .redes .links .tweet, .follow{
    transition: .5s all ease;
    background: #1DA1F2;
}
.dn-information .note .redes .links .follow{
    width: 130px;
    margin-right: 0;
}

.dn-information .note .redes .links .tweet:hover,
.dn-information .note .redes .links .follow:hover{
    background: #61C2FD;
}

.img-detail{
    height: 380px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-shop{
    background: var(--orange-movil);
    height: 660px;

}



.tickets-presentation{
    // margin-top: 140px;
    display: flex;
    flex-direction: column;
    // height: 380px;
    display: flex;
    align-items: end;
    // padding-bottom: 50px;
    // margin-bottom: 78px;
    position: relative;
}
.tickets-presentation img{
    position: absolute;
    /* right: -115px; */
    right: 0;
    width: 60%;
    /* width: 75%; */
    bottom: 0;
}


.tickets-presentation p{
    color: #070607;
    text-align: center;
    font-size: 14px;
    font-family: var(--roboto);
    width: 90%;
    font-weight: 500;
    margin-bottom: 30px!important;
    margin: auto;
}
.tickets-presentation h1{
    font-family: var(--teko);
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 45px;
    font-weight: 700;
}
.tickets-presentation span{
    font-size: 80px;
    font-family: var(--teko);
    font-weight: 800;
    line-height: 60px;
}
.tickets-presentation {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 800;
}

.tickets-presentation .croquis{
    display: flex;
    justify-content: end;
}

.info-section h1{
    font-family: var(--teko);
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px!important;
}
.info-section p{
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 24px;
    color: #7C7C91;
}
.info-section h2{
    color: var(--strong-orangee);
    font-size: 14px;
    font-weight: 7  00;
    font-family: var(--roboto);
}

.c-shop-content{
    // height: 700px;
}

.c-product{
    height: 430px;
    width: 100%;
    position: relative;
}

.c-product::before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: #00000020;
}

.img-p2{
    background:  url(../src/assets/imgs/sour-moha-tSP10XOSIAQ-unsplash.png) center/cover;
}
.img-p3{
    background:  url(../src/assets/imgs/tienda4.jpg) center/cover;
}

.info-product {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}
.info-product p{
    font-size: 36px;
    width: 200px;
    font-family: var(--teko);
    font-weight: 500;
    line-height: 32px;
    color: var(--black);
}

.btn-see-ticket{
    width: 145px;
    height: 53px;
    background: var(--orangee);
    color: white;
    font-size: 12px;
    font-family: var(--roboto);
    font-weight: 800;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.catalogo{
    height: 420px;
    margin-top: 20px;
}
.catalogo ion-col{
    height: 186px;
    margin: 10px;
    background: #E8E8E8;
}
.catalogo ion-col div {
    width: 100%;
    height: 100%;
}
.catalogo ion-col div h1{
    font-size: 18px;
    font-family: var(--teko);
    color: #EC5A00;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
.catalogo ion-col div ion-img{
    width: 80%;
    height: 70%
}

.filters{
    background: #E8E8E8;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}
.filters ion-icon{
    font-size: 30px;
    color: #4D4B4B;
}
.filters h1{
    font-size: 36px;
    font-family: var(--teko);
    font-weight: 300;
    color: #EC5A00;
}

.categories-shop{
    display: flex;
    justify-content: space-evenly;
}
.categories-shop-selected{
    opacity: 100%!important;
}
.categories-shop h1{
    font-family: var(--roboto);
    font-size: 14px;
    color: #000000;
    opacity: 50%;
}

.c-card-products{
    color: black;
    min-height: 300px;
}

.products {
    height: auto;
    display: grid;
    gap: 1rem;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.card-product{
    min-height: 310px;
    margin-bottom: 10px;
}
.card-product h1{
    margin-top: 25px!important;
    color: #060506;
    font-size: 12px;
    font-family: var(--roboto);
    margin: 0;
    margin-bottom: 7px!important;
}
.card-product h2{
    color: #4D4B4B;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--roboto);
}


.categories-shop .card-product ion-img{
    width: 100%;
    height: 100%;
}