<ion-header>
  <ion-toolbar >
    <div class="f-b">
      <ion-img src="assets/imgs/pioneros.png" tab="home" routerLinkActive="router-link-active" ></ion-img>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="carrucel-plays">

    <div class="lateral-l">
      <div class="date">
        <h1>NOV</h1>
        <h2>17</h2>
        <h3>MIÉ</h3>
        <H4>11 JUEGOS</H4>
      </div>
    </div>


    <ion-slides pager="true" [options]="slideHeader">
      <ion-slide>
        <ion-card class="m-1">
            <div class="slide slide-header">
              <h1>5:00 PM</h1>
              <div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>WAS</h2>
                  <h3>10-3</h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  vs
                </div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>CHA</h2>
                  <h3>8-7</h3>
                </div>
              </div>
            </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="m-1">
            <div class="slide slide-header">
              <h1>5:00 PM</h1>
              <div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>WAS</h2>
                  <h3>10-3</h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  vs
                </div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>CHA</h2>
                  <h3>8-7</h3>
                </div>
              </div>
            </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="m-1">
            <div class="slide slide-header">
              <h1>5:00 PM</h1>
              <div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>WAS</h2>
                  <h3>10-3</h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  vs
                </div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>CHA</h2>
                  <h3>8-7</h3>
                </div>
              </div>
            </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="m-1">
            <div class="slide slide-header">
              <h1>5:00 PM</h1>
              <div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>WAS</h2>
                  <h3>10-3</h3>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  vs
                </div>
                <div class="player1">
                  <img src="../../../assets/imgs/pioneros.png" alt=""><br>
                  <h2>CHA</h2>
                  <h3>8-7</h3>
                </div>
              </div>
            </div>
        </ion-card>
      </ion-slide>
      
    </ion-slides>
  </div>

  <ion-grid class="p-0">
    <ion-row class="p-0">
      <ion-col size="12" class="p-0">
        <div class="movil-news-title">
          <ion-img src="assets/imgs/noticias.jpg"></ion-img>
          <div class="info">
            <h1>¡EXTRA PIONEROS!</h1>
            <p>B-ball travelers always findl the most beautiful places of the world</p>
            <br><br>
            <div>
              LEER MÁS
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 
  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-img src="../../assets/imgs/noticia1.jpg"></ion-img>

          <ion-card-content>
            Vivamus fermentum efficitur turpis, pharetra tempus ex interdum sit amet. 
          </ion-card-content>

          <div class="news-footer nf2">
            <h2>Nota: <span>José Lendón</span></h2>
            <h3> <i class="bi bi-calendar-week"></i> jul/15/2021</h3>
            <h3> <i class="fas fa-comments"></i>01</h3>
            <h3> <i class="fas fa-eye"></i> 301</h3>
          </div>

        </ion-card>

        <ion-card>
          <ion-img src="../../assets/imgs/noticia2.jpg"></ion-img>

          <ion-card-content>
            Duis lacinia felis non elit mollis tristique. Nam ut feugiat enim. Suspendisse laoreet vel tortor.
          </ion-card-content>

          <div class="news-footer nf2">
            <h2>Nota: <span>José Lendón</span></h2>
            <h3> <i class="bi bi-calendar-week"></i> jul/15/2021</h3>
            <h3> <i class="fas fa-comments"></i>01</h3>
            <h3> <i class="fas fa-eye"></i> 301</h3>
          </div>
        </ion-card>
        
        <ion-card>
          <ion-img src="../../assets/imgs/noticia2.jpg"></ion-img>

          <ion-card-content>
            Duis lacinia felis non elit mollis tristique. Nam ut feugiat enim. Suspendisse laoreet vel tortor.
          </ion-card-content>

          <div class="news-footer nf2">
            <h2>Nota: <span>José Lendón</span></h2>
            <h3> <i class="bi bi-calendar-week"></i> jul/15/2021</h3>
            <h3> <i class="fas fa-comments"></i>01</h3>
            <h3> <i class="fas fa-eye"></i> 301</h3>
          </div>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="c-slides">
          <h1>NOTICIAS EN TREND</h1>

          <ion-slides pager="true" [options]="slideOpts">

            <ion-slide>
              <ion-card class="m-1">
                  <div class="slide slide2">
                        <img src="assets/imgs/noticia5.jpg" />
                      <p>Around the World - Season of Giving and the ball keeps bouncing</p>
                  </div>
              </ion-card>
            </ion-slide>
            
            <ion-slide>
              <ion-card class="m-1">
                  <div class="slide slide2">
                        <img src="assets/imgs/noticia5.jpg" />
                      <p>Around the World - Season of Giving and the ball keeps bouncing</p>
                  </div>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="m-1">
                  <div class="slide slide2">
                        <img src="assets/imgs/noticia5.jpg" />
                      <p>Around the World - Season of Giving and the ball keeps bouncing</p>
                  </div>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="m-1">
                  <div class="slide slide2">
                        <img src="assets/imgs/noticia5.jpg" />
                      <p>Around the World - Season of Giving and the ball keeps bouncing</p>
                  </div>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="c-slides">
          <h1>TITULARES</h1>
          <div class="c-titulares">
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
            <div>
              Around the World - Season of Giving and the ball keeps bouncing
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
