<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scoreboard">
      <ion-icon name="basketball-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tickets">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Boletos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>

</ion-tabs>
